@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 16px;
  color: #66ACED;
}

window#waybar {
  background-color: rgba(0,0,0,0);
  transition-duration: 0.5s;
  font-size: 14px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#window {
    font-weight: bold;
    color: #f7768e;
}

#workspaces {
  font-size: 16px;
  background-color: transparent;
  border-radius: 20px;
}

#workspaces button {
  color: #dfdfdf;
  border-bottom: 1px solid #ff4499;
}

#workspaces button.active {
  border-bottom: 1px solid #ff4499;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: @sky;
}

#workspaces button.urgent {
  color: #c9545d;
  border-color: #c9545d;
}

#custom-weather,
#custom-updates,
#custom-vpn,
#disk,
#workspaces,
#temperature,
#custom-power,
#backlight,
#clock,
#tray {
  margin: 6px 3px;
  padding: 4px 8px;
  color: #181825;
}

#custom-power {
  font-size:18px;
  padding-right: 1rem;
  color: @lavender;
}


#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: @sky;
}

#custom-updates {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  color: @sky;
  border-radius: 8px 0px 0px 8px;
  background-color: transparent;
}

#custom-weather {
  color: @green;
}

#custom-vpn {
  color: @teal;
}

#disk {
  color: @mauve;
}

#temperature {
  color: @red;
}
#temperature.critical {
  color: @red;
}

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

#backlight {
  color: #fab387;
}


#clock {
  font-family: JetBrainsMono Nerd Font;
  color: #cba6f7;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #131822;
}

tooltip label {
padding: 5px;
background-color: #131822;
}
