@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: 10px;
    border-color: black;
    border-radius: 2;
    min-height: 0;
    margin: 1px;
    padding: 0;
    color: black;
    background-color: transparent;
}


/* The whole bar */
window#waybar {
    border: 2px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    font-family: Intel One Mono Nerd Font;
    font-size: 14px;
}

window#waybar.right {
    box-shadow: inset 0 -3px;
    background-color: white;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#window,
#custom-power,
#workspaces,
#custom-media,
#custom-vpn,
#language,
#custom-PBPbattery {
    padding:0.25rem 0.75rem;
    margin: 1px 1px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
    border-width: 10px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#custom-weather {
}

#clock {
font-size: 18px;
}

#mode {
    border-bottom: 3px transparent;
    color:#ff4499;
    margin-left: 1px;
    padding: 1px;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    color: black;
    border-left: 0px;
    border-right: none;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.microphone {
    border-left: none;
    border-right: 0px;
    margin-left: 0;
    padding-left: 2px;
    border-radius: 0 10px 10px 0;
}

#workspaces {
    font-size:16px;
    border-radius: 10px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    color: #dfdfdf;
}

#workspaces button.active {
    border-bottom: 1px solid  black;
    margin-bottom: 1px;
    padding-left:0;
}

#workspaces button.urgent {
    border-color: white;
    color: white;
}

 #custom-power {
    font-size:18px;
    padding-right: 2rem;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

#custom-vpn {
    box-shadow: inset 0 0 0 3px black;
}
